
.menu {
    background-color: rgb(49, 146, 107);
}
.menufooter{
    background-color: rgb(49, 146, 107);
}
.porfolios{
    padding: 80px 0px;
    text-align: center;
    color: #0e0e0e;
    padding: 30PX;
 }
 .porfolios h2{
    font-size: 55px;
 }
 .porfolio {
    display: flex;
    align-items: center;
    background-color: rgb(224, 242, 238);
 }
 .porfolio img{
    width: 350px;
 }
 .porfolio-1{
    text-align: left;
    margin-left: 100px;
 }
 .porfolio-1 h3{
    font-size: 35px;
    margin-bottom: 15px;
 }
 .porfolio-1 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
 }
 .porfolio-2{
    text-align: left;
    margin-right: 100px;
 }
 .porfolio-2 h3{
    font-size: 35px;
    margin-bottom: 15px;
 }
 .porfolio-2 p{
    font-size: 18px;
    color: #525254;
    margin-bottom: 25px;
 }
